body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
#header {
	color: rgb(87, 187, 255);
	font-family:monospace;
}
.jumbotron {
	background: rgba(0,0,0,0);
}

#home {
	background: rgba(0,0,0,0.5);
	background-size: cover;
}