.body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
#header {
	color: white;
	font-family:monospace;
	font-size: 10vw;
}

.sectionheader {
	color: white;
	font-family: monospace;
	font-size: 5vw;
	text-align: center;
	background: black;
}

.sectionbody {
	color: white;
	font-family: monospace;
	font-size: 2vw;
	text-align: center;
	background: black;	
}

#home {
	background-size: cover;
	background-image: url(/Images/stadium.jpg);
	height: 100vh;
}

#subheader {
	color: white;
	font-size: 3.5vw;
	font-family: monospace;
}

.headercontainer {
	background-color: rgba(0,0,0,0.5);
	height: 100vh;
}

#about {
	background: black;
}
#jobexperience {
	background: black;
}
#techexperience {
	background: black;
}

.textCenter{
	text-align: center;
	font-family: monospace;
	color: white;
}

